@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'magic-school-two';
  src: url('/MagicSchoolTwo.ttf') format('truetype');
  /* Add more font properties if needed */
}
@layer base {
	.card {
		@apply flex bg-white w-64 h-80 m-auto rounded-xl shadow-2xl shadow-gray-700 lg:w-96 lg:h-96 md:h-80 md:w-96 xl:w-128 xl:h-128
	}

	h1 {
		font-family: 'magic-school-two';
		z-index: 1000;
	}
}

